.card-title {
  font-family: 'Indie Flower', cursive;
}

 .lead {
   font-family: courier body copy;
 }

 .card-byline {
   font-family: courier body copy;
 }

 p {
  font-family: comic sans ms;
}

.display-4 {
  font-family: 'Indie Flower', cursive;
}
